.games{
    width: 80%;
    margin: 0 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    h1{
        margin: 25px;
    }
}

@mixin game-list($data-Color){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    padding: 15px;
    margin: 15px;

    min-height: 250px;
    
    background-color: $data-Color;
}

.game-list-to-play{
    @include game-list(#3a6eff44)
}

.game-list-playing{
    @include game-list(#3aff6544)
}

.game-list-finished{
    @include game-list(#ff3a3a44)
}

.game-nav{
    display: flex;
    justify-content: center;
    
    li{
        list-style: none;
    }

    .section-select{
        border: none;

        padding: 15px 50px;

        margin: 10px 0;

        background-color: #da9191;
        cursor: pointer;

        &:hover{
            background-color: #7a2828;
            color: white;
        }
    }
}

